@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.home, 
.reports, 
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.page {
  background-color: #46C2BA;
}

/* --------------------------------------------------- Home ------------------------------------------------------ */

.nav_bar_container
{
  width:100%;
  height: 100px;;
  display: flex;
}

.etudiantparticulier
{
 margin-left: 50px;
 margin-top: 27px;
 color:white;
}

.home_main {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-color: #46C2BA;
}

.home_boutton
{
  position: absolute;
  display: flex;
  width: 440px;
  height: 600px;
}
.home_boutton_ongletchimie{
  width: 80px;
  height: 80px;
  margin-top: 216.5px;
  margin-left: 10px;
  border-radius: 50%;
}
.home_boutton_ongletmaths{
  width: 80px;
  height: 80px;
  margin-top: 139px;
  margin-left: -11px;
  border-radius: 50%;
}
.home_boutton_ongletmethodologie{
  width: 80px;
  height: 80px;
  margin-left: 22px;
  margin-top: 105px;
  border-radius: 50%;
}
.home_boutton_ongletphysique{
  width: 80px;
  height: 80px;
  margin-left: 22px;
  margin-top: 139px;
  border-radius: 50%;
}
.home_boutton_ongletprogrammation{
  width: 80px;
  height: 80px;
  margin-top: 216.5px;
  margin-left: -11px;
  border-radius: 50%;
}

.logo_home
{
  width: 600px;
  left:250px;
  top:160px;
}

.home_boutton_ongletchimie .onglet{
  position:relative;
  bottom:30px;
  left:0px;
  display: none;
  }


.home_boutton_ongletchimie:hover .onglet {
  display: block;
  position: absolute;
  top: 40px;
  left: 180px;
  color: white;
  font-size: 28px;
}

.home_boutton_ongletmaths .onglet{
  position:relative;
  bottom:30px;
  left:0px;
  display: none;
  }


.home_boutton_ongletmaths:hover .onglet {
  display: block;
  position: absolute;
  top: 40px;
  left: 190px;
  color: white;
  font-size: 28px;
}

.home_boutton_ongletmethodologie .onglet{
  position:relative;
  bottom:30px;
  left:0px;
  display: none;
  }


.home_boutton_ongletmethodologie:hover .onglet {
  display: block;
  position: absolute;
  top: 40px;
  left: 140px;
  color: white;
  font-size: 28px;
}

.home_boutton_ongletphysique .onglet{
  position:relative;
  bottom:30px;
  left:0px;
  display: none;
  }


.home_boutton_ongletphysique:hover .onglet {
  display: block;
  position: absolute;
  top: 40px;
  left: 165px;
  color: white;
  font-size: 28px;
}

.home_boutton_ongletprogrammation .onglet{
  position:relative;
  bottom:30px;
  left:0px;
  display: none;
  }


.home_boutton_ongletprogrammation:hover .onglet {
  display: block;
  position: absolute;
  top: 40px;
  left: 130px;
  color: white;
  font-size: 28px;
}


.α
{
  top : 200px;
  left:300px;
  font-size:40px;
}

.β
{
  animation-delay: 5s;
  top : 500px;
  left:200px;
  font-size:60px;
}

.δ
{
  animation-delay: 2s;
  top : 300px;
  left:1200px;
  font-size:20px;
}

.ε
{
  animation-delay: 7s;
  top : 600px;
  left:900px;
  font-size:50px;
}
.π
{
  animation-delay: 1.2s;
  top : 550px;
  left:250px;
  font-size:50px;
}

.trigo
{
  animation-delay: 1s;
  top : 400px;
  left:200px;
  width:200px;
}

.division
{
  animation-delay: 8s;
  top:550px;
  left:500px;
  width:100px;
}
.integrale
{
  animation-delay: 7s;
  top:300px;
  left:1100px;
  width:120px;
}
.somme
{
  animation-delay: 15s;
  top:100px;
  left:500px;
  width:60px;
}
.infinity
{
  animation-delay: 11s;
  top:500px;
  left:1000px;
  width:200px;
}
.neper
{
  animation-delay: 2s;
  top:200px;
  left:1000px;
  width:100px;
}
.derive
{
  animation-delay: 16s;
  top:800px;
  left:200px;
  width:200px;
}
.racine
{
  animation-delay: 3s;
  top:600px;
  left:700px;
  width:100px;
}
.appear {
  position:absolute;
  color:white;
	opacity:0;
	animation-duration: 10s;
  animation-name: appear;
  animation-iteration-count: infinite;
}
@keyframes appear {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  21% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
}
}

/* --------------------------------------------------------------------------------------------------------------- */


.basdepage_text
{
  width:200px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.basdepage_container h1{
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.basdepage_container h2{
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
}
.reseaux_sociaux_logo_container
{
  margin-top: 50px;
  width:140px;
  display:flex;
  justify-content: space-around;
  margin-left:auto;
  margin-right: auto;
}

.logo_reseau
{
  width:35px;
  height:35px;
  margin-bottom: 10px;
}
/*-------------------------------------- Nosprofils --------------------------*/

.nosprofils
{
  height: 220vh;
  color:white;
}

.nosprofils h1
{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
}
.profil_container
{
  margin-top: 40px;
  width: 700px ;
  margin-left: auto;
  margin-right: auto;
}

.profil_entete
{
  display: flex;
}

.infos_profil
{
  margin-left: 35px;
}

.infos_profil h2{
  margin: 6px;
}

.photo_profil
{
  margin-top: 3px;
  width:145px;
  height:145px;
  border-radius: 100px;
}

.parcours_container
{
  margin-top: 20px;
  width:100%;
}

.parcours_container p{
  margin-top: 10px;
}
.parcours_content
{
  text-align: justify;
  margin-bottom: 100px;
}



/* --------------------------------------- chimie --------------------------- */


.chimie
{
  height: 90vh;
}

.title_chimie {
  display: flex;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  color: white;
  font-size: 25px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.img_chimie {
  width: 150px;
}

.cours p {
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.cours p:hover{
  text-decoration: underline;
  color: black;
}

/* --------------------------------------- maths --------------------------- */

.maths
{
  height: 100vh;
}

.title_maths {
  display: flex;
  width: 420px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  color: white;
  font-size: 25px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.img_maths {
  width: 150px;
}




/* --------------------------------------- methodologie --------------------------- */

.methodologie
{
  height: 90vh;
}

.title_methodologie{
  display: flex;
  width: 580px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  color: white;
  font-size: 25px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.img_methodologie {
  width: 150px;
}



/* --------------------------------------- physique --------------------------- */

.physique
{
  height: 130vh;
}

.title_physique {
  display: flex;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  color: white;
  font-size: 25px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.img_physique {
  width: 150px;
}



/* --------------------------------------- programmation --------------------------- */


.programmation
{
  height: 100vh;
}

.title_programmation {
  display: flex;
  width: 630px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  color: white;
  font-size: 25px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.img_programmation {
  width: 150px;
}


/*------------------------------------------- Avis ----------------------------------------*/

.avis
{
  height: 220vh;
  color:white;
}

.graphique_description
{
  margin-left: 400px;
  margin-bottom: 50px;
  width:700px;
}

.graphique_description h3
{
  margin-bottom: 20px;
}

.graphique_description p
{
  margin-bottom: 70px;
  text-align: start;
}


.graphique
{
  margin-left: 350px;
  height: 30vh;
}

.avis h1
{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
}
.avis_container
{
  margin-top: 40px;
  width: 700px ;
  margin-left: auto;
  margin-right: auto;
}

.avis_entete
{
  display: flex;
}

.infos_avis
{
  margin-left: 35px;
}

.infos_avis h2{
  margin: 6px;
}

.photo_avis
{
  margin-top: 3px;
  width:125px;
  height:125px;
  border-radius: 100px;
}

.avis_content
{
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 100px;
}


/* --------------------------------------- tarifs --------------------------- */

.tarifs {
  height: 90vh;
}

.title_tarifs {
  color: white;
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 120px;
  width: 312px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 1000;
}

table
{
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

td
{
    border: 2px solid black;
    border-color: white;
    font-size: 24px;
    padding: 9px;
    color: white;
}

/*------------------------------------------ Disponibilités --------------------------------*/

.disponibilite
{
  height: 90vh;
  color:white;
}

.disponibilite h1
{
  padding-top: 50px;
  margin-left: 300px;
  margin-bottom: 70px;
}

.disponibilite p
{
 text-align: start;
 font-size: 20px;
 margin-bottom: 40px;
 margin-top: 40px;
}

.disponibilite_content
{
  margin-left: 350px;
  width: 700px;
}

.disponibilite a
{
  color:white;
  font-size: 20px;
  border:1px solid white;
  border-radius: 10px;
  padding:4px;
  
}

/* -------------------------- Localisation ---------------------------- */

.localisation
{
  height: 90vh;
  color: white;
}

.title_localisation
{
  margin-left:200px;
  padding-top:50px;
  margin-bottom: 20px;
}

.localisation p{
  margin-top: 10px;
  margin-left: 250px;
  font-size: 20px;
  text-align: start;
}

.adresse, .calculer
{
  height: 30px;
  border-radius: 10px;
  border:none;
}

.adresse{
  margin-left: 250px;
  width: 200px;
  padding-left:10px;
}

.calculer{
  margin-left: 20px;
  width: 100px;
  font-size: 15px;
}

/* --------------------------------------- laisser avis --------------------------- */

.laisser_avis {
  height: 90vh;
}

.laisser_avis h1 {
  color: white;
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 80px;
  width: 315px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 1000;
}

.laisser_avis textarea {
  resize: none;
  width: 500px;
  height: 150px; 
}

.area {
    width: 500px;
    height: 150px; 
    margin-left: auto;
    margin-right: auto;
}

.btn_envoi{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 65em) {
  .etudiantparticulier {
    display: none;
  }
}


/* --------------------------------- widget -----------------------------*/

.widgetmaths
{
  color:white;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 650px;
  margin-bottom: 50px;
}

.widgetphysique
{
  color:white;
  font-size: 20px;
  margin-top: 70px;
  margin-left: 650px;
  margin-bottom: 30px;
}

.widgetphysique p
{
  color:white;
  font-size: 20px;
  margin-top: 20px;
  margin-left: -600px;
  margin-bottom: 50px;
}

.widgetprogrammation 
{
  margin-top: 70px;
  margin-bottom: 50px;
  color:white;
}

